.title{
  display: inline;
  justify-content: center;
  align-items: center;

  margin: 0px;
  padding: 0px;
}
.txt-title{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  font-family: Thunder-Medium, sans-serif;
  text-decoration: underline;

  margin: 20px;
  padding: 0px;
}
.subline{
  display: flex;
  justify-content: center;
  align-items: center;
}
.txt-subline{
  font-family: Thunder-Light, sans-serif;
  font-size: 25px;
}
