body{
  background-color: rgb(248, 243, 230);

  margin: 0px;
  padding: 0px;
}

/* BLACK FONT STYLE */
@font-face {
  font-family: 'Thunder-Black-Italic';
  src: url('/fonts/thunder/black/Thunder-BlackLCItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
/* MEDIUM FONT STYLE */
@font-face {
  font-family: 'Thunder-Medium';
  src: url('/fonts/thunder/medium/Thunder-MediumLC.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
/* LIGHT FONT STYLE */
@font-face {
  font-family: 'Thunder-Light';
  src: url('/fonts/thunder/light/Thunder-LightLC.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

