.header{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;

  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;

  background-color: brown;
}
.txt-header{
  font-family: ADLaM Display, sans-serif;
  font-size: 60px;

  color: white;
}
.txt-present{
  font-family: Unbounded, sans-serif;
}